<div class="container mx-auto px-4 mt-8">
  <div class="py-6 border-0 rounded-md border-f1f1f2 bg-[#F4F5F7]">
    <div class="mx-auto px-4">
      <div class="flex justify-center items-center">
        <nav class="breadcrumb flex space-x-2">
          <a class="breadcrumb-item text-gray-600 hover:text-red-500 text-sm" href="index.html">Home</a>
          <span class="material-icons text-md text-gray-400 my-0 mx-1 -mt-1">chevron_right</span>
          <span class="breadcrumb-item text-red-500 font-medium text-sm">Cart</span>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto cart-block px-4 lg:px-20 py-12">
  <div class="flex flex-col lg:flex-row gap-4" *ngIf="Products.length">
    <div class="flex-1 flex flex-col gap-4">

      <div *ngFor="let product of Products" class="mb-3 p-4 border border-gray-200 rounded-md shadow-sm bg-white">
        <div class="flex items-center w-full py-2">

          <img alt="product" class="w-20 rounded-sm my-4" src="{{ product.imageUrl }}" />
          <div class="w-full ml-4 md:ml-6">
            <div class="flex justify-between items-center font-bold w-full mb-1">
              <h4>{{ product.title }}</h4>
              <h3 class="mb-0 font-bold text-lg"> {{ product.quantity * product.price | currency }}</h3>
            </div>
            <div class="flex items-center">
              <button class="p-2" (click)="onRemoveQuantity(product)">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="mx-2 text-md">{{product.quantity }}</span>
              <button class="p-2" (click)="onAddQuantity(product)">
                <mat-icon>add</mat-icon>
              </button>
              <button
                class="w-10 h-10 flex items-center justify-center mx-1 p-1 bg-white hover:bg-red-500 text-red-500 hover:text-white rounded-full ml-auto"
                (click)="onRemoveFromCart(product)">
                <mat-icon>delete</mat-icon>
                <i class="addCart-icon"></i>
              </button>
            </div>
            <h4>${{ product.price }}</h4>
          </div>
        </div>
      </div>
    </div>


    <div class="w-72 lg:w-96 mb-3 p-4 border border-gray-200 rounded-md shadow-sm bg-white self-start">
      <div>
        <h4 class="font-bold">Summary</h4>
        <div class="mb-2">
          <span class="font-bold">Items:</span> {{ getTotalQuantity(Products) }}
        </div>
        <div class="mb-4">
          <span class="font-bold py-5 block">Total cost: {{ getTotal(Products) | currency }}</span>
        </div>
        <hr class="my-4 border-gray-300">
        <button (click)="onCheckout()" class="bg-red-500 text-white py-4 px-4 rounded-md hover:bg-red-600 w-full">
          Go to checkout
        </button>
        <!-- Payment Icons -->
        <div class="flex justify-center mt-4">
          <!-- Replace with your actual image source for iDEAL -->
          <img src="../assets/image/ideal.png" alt="iDEAL" class="h-8 mx-2">
          <!-- Replace with your actual image source for Credit Card -->
          <img src="../assets/image/mastercard.png" alt="Credit Card" class="h-8 mx-2">
          <img src="../assets/image/visa.jpeg" alt="Credit Card" class="h-8 mx-2">
        </div>
      </div>
    </div>
     
  </div>
  <div *ngIf="Products.length">
  <button [routerLink]="['/shop', getLastProductCategory()]"
  class="mt-4 bg-red-500 text-white py-2 px-2 text-sm rounded hover:bg-red-500">
  Continue Shopping
</button>
</div>
  <div class="flex flex-col items-center justify-center" *ngIf="!Products.length">
    <img src="../assets/image/emptycard.png" alt="Empty Cart" class="w-full h-64 object-cover" />
    <p class="text-lg font-bold mt-4">Your shopping cart is empty</p>
    <button routerLink="/home" (click)="getProducts()"
      class="mt-4 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">
      Continue Shopping
    </button>
  </div>
</div>



<!-- <mat-card *ngIf="dataSourc.length">
    <table mat-table [dataSource]="dataSourc">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">
          <img
            src="{{ element.imageUrl }}"
            alt="product"
            class="w-[80px] rounded-sm my-4"
          />
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button (click)="getProducts()" mat-raised-button routerLink="/home">
            Ga verder met winkelen
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Naam</th>
        <td mat-cell *matCellDef="let element">
          <span class="truncate max-w-xs block">{{ element.title }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Prijs</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Aantal</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex justify-center">
            <div class="flex items-center">
              <button mat-icon-button (click)="onRemoveQuantity(element)">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="mx-2 text-md">{{ element.quantity }}</span>
              <button mat-icon-button (click)="onAddQuantity(element)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantity * element.price | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <span class="font-bold py-5 block">{{
            getTotal(cart.items) | currency
          }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <button
            mat-raised-button
            color="warn"
            class="float-right"
            (click)="onClearCart()"
          >
            Alles verwijderen
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            color="warn"
            class="float-right"
            (click)="onRemoveFromCart(element)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button
            (click)="onCheckout()"
            mat-raised-button
            color="primary"
            class="float-right"
          >
            Ga naar afrekenen
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </mat-card>
  <mat-card *ngIf="!dataSourc.length" class="mx-auto my-3 max-w-7xl pt-10">
    <mat-card-header>
      <mat-card-title class="text-center text-2xl font-bold">
        Uw winkelwagen is leeg
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center py-8">
      <p class="text-lg">
        Het lijkt erop dat u nog geen artikelen aan uw winkelwagen heeft
        toegevoegd. Begin met winkelen om uw favoriete items te vinden!
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="justify-center pt-8">
      <button
        mat-raised-button
        color="primary"
        routerLink="/home"
        (click)="getProducts()"
      >
        Begin met winkelen
      </button>
    </mat-card-actions>
  </mat-card> -->