<footer class="bg-dark text-white py-4 mt-5">
    <div class="container mx-auto">
        <div class="grid md:grid-cols-2 gap-4">
            <div class="mb-4">
                <h4 class="mt-2">WebSheba</h4>
                <p class="text-sm">Bij Websheba begrijpen we de kracht van de gemeenschap en de waarde van het
                    bedienen van onze klanten op de manier die voor hen het meest zinvol is.
                    Daarom zijn wij er trots op ons te richten
                    op de unieke behoeften van de Eritrese gemeenschap in Nederland</p>
            </div>
            <div class="grid md:grid-cols-2 gap-4">
                <div class="mb-4">
                    <h4 class="mt-2">Navigaties</h4>
                    <ul class="list-none">
                        <li><a class="nav-link text-white" href="#home">Home</a></li>
                        <li><a class="nav-link text-white" href="#Portfolio">Portfolio</a></li>
                        <li><a class="nav-link text-white" href="#Review">Review</a></li>
                    </ul>
                </div>
                <div class="mb-4 mt-2">
                    <h4>Contact</h4>
                    <ul class="list-none">
                        <li>Hoorn</li>
                        <li>1628AJ, Lijster</li>
                        <li>Haben1414@gmail.com</li>
                        <li>KVK: 83811362</li>
                        <li>BTW: NL.003.874.000.B44</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
