<footer class="bg-[#242424] py-12 lg:py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 lg:w-1/4 lg:mr-20">
        <aside class="widget-container">
          <div class="widget-content">
            <div class="footer-logo mb-half">
              <img [src]="'../../../assets/image/' + log" alt="Logo" />
            </div>
            <p>
              We are a team of designers and developers that create high quality
              Magento, Prestashop, Opencart.
            </p>
            <div class="footer-contact">
              <p>
                <span>Address:</span>6688Princess Road, London, Greater London
                BAS 23JK, UK
              </p>
              <p><span>Phone:</span><a href="#">(012) 800 456 789-987</a></p>
              <p><span>Email:</span><a href="#">supportcom</a></p>
            </div>
          </div>
        </aside>
      </div>

      <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-content">
          <h4 class="widgettitle">Products</h4>
          <div>
            <div class="widgetized-menu mt-6 lg:mt-10">
              <ul class="list-unstyled">
                <li><a [routerLink]="'/home'" fragment="our-categories">Our Categories</a></li>
                <li><a [routerLink]="'/home'" fragment="best-sellers">Best Sales</a></li>
                <li><a [routerLink]="'/home'" fragment="header">Header</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-container">
          <h4 class="widgettitle">Our Company</h4>
          <div class="widget-content">
            <div class="widgetized-menu mt-6 lg:mt-10">
              <ul class="list-unstyled">
                <li><a [routerLink]="'/aboutUs'" fragment="about-us">About Us</a></li>
                <li><a routerLink="/contactUs">Contact Us</a></li>
                <li><a routerLink="/login">Login</a></li>
              </ul>
            </div>
          </div>
          <!-- end of widget-content -->
        </aside>
        <!-- end of widget-container -->
      </div>

      <div class="w-full md:w-1/2 lg:w-2/6 mt-12 lg:mt-0">
        <h4 class="widgettitle">Register for Exclusive Perks</h4>
        <div>
          <div class="mt-6 lg:mt-10">
            <p class="mb-3 text-sm text-[#c0c0c0]">
              Register to save your favorite items and shop faster next time and Stay up-to-date with the latest products and offers
            </p>
          </div>
          <form>
            <div class="flex items-center space-x-3 mt-4">
              <button mat-raised-button color="warn" type="submit" (click)="navigateToRegister()">
                Register now
              </button>
            </div>            
          </form>

          <div class="mailchimp-alerts mt-3">
            <div class="mailchimp-submitting"></div>
            <div class="mailchimp-success"></div>
            <div class="mailchimp-error"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full md:w-1/2 lg:w-1/2">
        </div>
        <div class="w-full md:w-1/2 lg:w-1/2">
        </div>
      </div>
    </div>
  </div>
</footer>
