<footer class="bg-[#242424] py-12 lg:py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 lg:w-1/4 lg:mr-20">
        <aside class="widget-container">
          <div class="widget-content">
            <div class="footer-logo mb-half">
              <img [src]="'../../../assets/image/' + log" alt="Logo" />
            </div>
            <p>
              {{"Sofani Market" | translate}}
            </p>
            <div class="footer-contact">
              <p>
                <span> {{"Address" | translate}}</span>Nieuwe Plein 32, 6811 KR Arnhem
              </p>
              <p><span>{{"Phone" | translate}}</span><a href="#">0031639173620</a></p>
              <p><span>{{"Email" | translate}}</span><a href="#">Safani@example.com</a></p>
            </div>
          </div>
        </aside>
      </div>

      <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-content">
          <h4 class="widgettitle">{{"Products" | translate}}</h4>
          <div>
            <div class="widgetized-menu mt-6 lg:mt-10">
              <ul class="list-unstyled">
                <li><a [routerLink]="'/home'" fragment="our-categories">{{"Our Categories" | translate}}</a></li>
                <li><a [routerLink]="'/home'" fragment="best-sellers">{{"BEST SELLING PRODUCTS" | translate}}</a></li>
                <li><a [routerLink]="'/home'" fragment="header">{{"Top of Page" | translate}}</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-container">
          <h4 class="widgettitle"> {{"Our Company" | translate}}</h4>
          <div class="widget-content">
            <div class="widgetized-menu mt-6 lg:mt-10">
              <ul class="list-unstyled">
                <li><a [routerLink]="'/aboutUs'" fragment="about-us">{{"About Us" | translate}}</a></li>
                <li><a routerLink="/contactUs">{{"Contact Us" | translate}}</a></li>
                <li><a routerLink="/login">{{"login" | translate}}</a></li>
              </ul>
            </div>
          </div>
          <!-- end of widget-content -->
        </aside>
        <!-- end of widget-container -->
      </div>

      <div class="w-full md:w-1/2 lg:w-2/6 mt-12 lg:mt-0">
        <h4 class="widgettitle"> {{"Register for Exclusive Perks" | translate}}</h4>
        <div>
          <div class="mt-6 lg:mt-10">
            <p class="mb-3 text-sm text-[#c0c0c0]">
              {{"Register to save your favorite" | translate}}
          </div>
          <form>
            <div class="flex items-center space-x-3 mt-4">
              <button mat-raised-button color="warn" type="submit" (click)="navigateToRegister()">
                {{"Register now" | translate}}
              </button>
            </div>            
          </form>

          <div class="mailchimp-alerts mt-3">
            <div class="mailchimp-submitting"></div>
            <div class="mailchimp-success"></div>
            <div class="mailchimp-error"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full md:w-1/2 lg:w-1/2">
        </div>
        <div class="w-full md:w-1/2 lg:w-1/2">
        </div>
      </div>
    </div>
  </div>
</footer>
