<!-- Top Bar -->
<div class="container pt-4">
  <div class="row">
    <div class="mx-auto flex justify-between items-center">
      <!-- Sale information -->
      <div class="inline-block ml-40 text-xs ">
        <p>welcom</p>
      </div>
      <!-- Currency and language selectors -->
      <div>
        <ul class="list-inline flex items-center">
          <li class="list-inline-item">
          </li>
          <li>
            <div>
              <button mat-button [matMenuTriggerFor]="languageMenu" class="text-xs">
                Nederlands<mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #languageMenu="matMenu">
                <button mat-menu-item>
                  <div class="flex items-center" style="width: 100%;">
                    <div class="flex-none">
                      <img [src]="'../../../assets/image/' + Nederland" alt="Icons" class="w-50 h-4"
                        style="vertical-align: middle;" />
                    </div>
                    <div class="flex-grow" style="vertical-align: middle; padding-left: 8px;">
                      Nederlands
                    </div>
                  </div>
                </button>
                <button mat-menu-item>
                  <div class="flex items-center" style="width: 100%;">
                    <div class="flex-none">
                      <img [src]="'../../../assets/image/' + Eritrea" alt="Icons" class="w-50 h-4"
                        style="vertical-align: middle;" />
                    </div>
                    <div class="flex-grow" style="vertical-align: middle; padding-left: 8px;">
                      ትግርኛ
                    </div>
                  </div>
                </button>
              </mat-menu>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Full width line -->
<hr>
<!-- Header Area -->
<div class="container mx-auto flex justify-between items-center mt-4">
  <!-- Logo -->
  <div class="ml-20">
    <a href="index.html">
      <img [src]="'../../../assets/image/' + log" alt="Logo" class="w-30 h-4" />
    </a>
  </div>

  <!-- Contact Number, Shopping Cart, and Registration/Login -->
  <div class="flex items-center mr-10">
    <!-- Contact Number -->
    <div class="flex items-center space-x-4 mr-8 mt-2">
      <p class="text-sm"><a href="#">0648408438</a></p>
      <div class="border-l h-5 mx-2 mb-2"></div>
      <p class="text-xs">Customer Service</p>
    </div>

    <!-- Shopping Cart -->
    <div class="flex items-center space-x-1">
      <div *ngIf="currentUser; else guestMenu" class="flex items-center space-x-4">
        <div class="flex flex-col">
          <span>Welcome</span>
          <span class="font-bold">{{ currentUser.firstName }}</span>
        </div>
        <button mat-icon-button (click)="userService.logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
      <ng-template #guestMenu>
        <button mat-button class="mr-4" [matMenuTriggerFor]="accountMenu">
          Inloggen
        </button>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item routerLink="/Register">Register</button>
          <button mat-menu-item routerLink="/login">Login</button>
        </mat-menu>
      </ng-template>
      <button mat-icon-button routerLink="/wishlist">
        <mat-icon [matBadge]="wishlistQuantity" [matBadgeHidden]="!wishlistQuantity" matBadgeColor="warn">favorite_border</mat-icon>
      </button> 
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" #cartTrigger="matMenuTrigger">
          <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity"
            matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex justify-between">
              <span class="mr-16">{{itemsQuantity}} items</span>
              <a routerLink="cart">View Cart</a>
            </div>
            <div *ngIf="cart.items.length" class="py-3">
              <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
                {{ item.title }} x {{ item.quantity }}
                <span class="font-bold">{{ item.price | currency }}</span>
              </div>
            </div>
            <div class="flex justify-between py-3 font-light">
              Total:
              <span class="font-bold not-italic">{{ getTotal(cart.items) | currency }}</span>
            </div>
            <div class="pt-3 flex justify-between">
              <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
                <mat-icon>remove_shopping_cart</mat-icon>
              </button>
              <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9">
                <mat-icon>shopping_cart_checkout</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

<!-- Main Navigation Area -->
<div class="bg-[#242424] text-white mt-4 h-12 ">
  <div class="container mx-auto flex justify-between items-center py-1">
    <!-- Navigation menu -->
    <div class="text-sm align-items-center ml-10">
      <a mat-button style="color: white; font-size: 12px;" class="ml-6" routerLink="/">Home</a>

      <!-- Categories dropdown menu -->
      <div class="inline-block">
        <button mat-button style="color: white; font-size: 12px;"
          [matMenuTriggerFor]="categoriesMenu">Categories<mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #categoriesMenu="matMenu">
          <button mat-menu-item *ngFor="let category of categories" (click)="categoriesChange(category.name)">
            <a [routerLink]="['/shop', category.name]">{{ category.name }} </a>
          </button>
        </mat-menu>
      </div>
      <a class="ml-6" mat-button style="color: white; font-size: 12px;" routerLink="/aboutUs">About Us</a>
      <a class="ml-6" mat-button style="color: white; font-size: 12px;" routerLink="/contactUs">Contact Us</a>
      <a class="ml-6" mat-button style="color: white; font-size: 12px;" routerLink="/shop">Shop</a>
    </div>

    <!-- Search bar -->
    <div class="flex items-center mr-10">
      <input type="text" class="p-2 flex-grow text-sm h-6 bg-[#242424] search-input"
        placeholder="Search entire store here ..." style="font-size: 15px;" (input)="searchProducts($event)">
      <button mat-icon-button #searchMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="searchMenu">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-menu #searchMenu="matMenu" class="w-80">
      <!-- Search results displayed here -->
      <div *ngFor="let product of searchResults" class="result-item mb-4">
        <a [routerLink]="['/product', product.productId]">
          <div
            class="flex items-center hover:bg-gray-200 hover:shadow-md transition duration-300 ease-in-out border-b border-gray-300">
            <img [src]="product.imageUrls[0].file" alt="{{ product.title }}" class="w-20 h-20 object-cover mr-3 pl-6">
            <p class="flex-grow pl-8">{{ product.title }}</p>
            <p class="ml-10 pr-6">€{{ product.price }}</p>
          </div>
        </a>
      </div>
    </mat-menu>
  </div>
</div>
