<section>
  <div class="container mx-auto">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="section-title mt-10">
          <h2>Mijn verlanglijstje</h2>
          <p class="subtitle">
            Consequat magna, massa vel suspendisse morbi aliquam faucibus ligula
            ante ipsum ac nulla.
          </p>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4 py-6">
      <div class="grid grid-cols-4 gap-4">
        <div *ngFor="let product of wishlistProducts">
          <article
            class="wish-product relative shadow-lg transition-all duration-300"
          >
            <div class="product-image relative">
              <a>
                <img
                  [src]="product.imageUrls[0].file"
                  class="w-full h-64 object-cover"
                />
              </a>
              <div
                class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-40 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300"
              >
                <button
                  (click)="onAddToCart(product)"
                  class="mx-2 p-1 bg-white rounded-full"
                >
                  <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                  <i class="addCart-icon"></i>
                </button>
                <button
                  class="mx-2 p-1 bg-white rounded-full"
                  (click)="navigateToProductDetails(product.productId)"
                >
                  <mat-icon class="text-blue-500">visibility</mat-icon>
                </button>
                <button
                  class="mx-2 p-1 bg-white rounded-full"
                  (click)="onDeleteFromWishlist(product.productId)"
                >
                  <mat-icon class="text-red-500">delete</mat-icon>
                </button>
              </div>
            </div>
            <div class="product-caption mt-4">
              <div class="flex justify-between items-center">
                <div class="product-manufacturer">
                  <p>{{ product.categoryName }}</p>
                </div>
              </div>
              <h4 class="product-name mt-2">
                <p>{{ product.title }}</p>
              </h4>
              <p class="product-price mt-2">
                <span>€{{ product.price }}</span>
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
