<div class="w-full p-0 m-0"  >
    <div class="flex flex-wrap">
        <div class="w-full p-0">
            <div class="bg-cover bg-center h-[70vh]" 
            style="background-color:#EBEADF">
               <p>home</p>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center bg-white py-6">
        <h1 class="text-3xl font-bold text-center">Category</h1>
    </div>
    <mat-grid-list [cols]="cols | async" gutterSize="10px" rowHeight="1:1" class="mx-auto my-10 w-11/12">
        <mat-grid-tile *ngFor="let item of items">
            <div class="flex flex-col items-center justify-center" >  
                <!-- style="background-color:#EBEADF" -->
                <a [routerLink]="['/home', item.category]" class="p-3">
                    <img mat-card-image class="w-80 h-60 object-cover" 
                        [src]="'../../../assets/image/' + item.image" 
                        [alt]="item.category">
                </a>
             
                    <h1 class="text-lg sm:text-xl">{{ item.category }}</h1>
                  
            </div>
        </mat-grid-tile>
    </mat-grid-list>
     <!-- Most Popular Products Section -->
     <div class="flex justify-center items-center bg-white py-6">
        <h1 class="text-3xl font-bold text-center">Most Popular Products</h1>
    </div>
    <mat-grid-list [cols]="cols | async" gutterSize="10px" rowHeight="1:1" class="mx-auto my-10 w-11/12">
        <mat-grid-tile *ngFor="let item of items">
            <mat-card class="flex flex-col items-center justify-center" >
                <a [routerLink]="['/home', item.category]">
                    <img mat-card-image class="w-80 h-60 object-cover" 
                        [src]="'../../../assets/image/' + item.image" 
                        [alt]="item.category">
                </a>
                <mat-card-content class="text-center">
                    <h1 class="">{{ item.category }}</h1>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> 
</div>

