<div class="container mx-auto px-4 mt-8">
  <div class="py-6 border-0 rounded-md border-f1f1f2 bg-[#F4F5F7]">
    <div class="mx-auto px-4">
      <div class="flex justify-center items-center">
        <nav class="breadcrumb flex space-x-2">
          <a
            class="breadcrumb-item text-gray-600 hover:text-red-500 text-sm"
            href="index.html"
            >Home</a
          >
          <span class="material-icons text-md text-gray-400 my-0 mx-1 -mt-1"
            >chevron_right</span
          >
          <span class="breadcrumb-item text-red-500 font-medium text-sm"
            >About Us</span
          >
        </nav>
      </div>
    </div>
  </div>
</div>
<section class="bg-white py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-6/12 md:pe-4 mb-8 md:mb-0">
        <div class="mb-6">
          <div class="section-title left-aligned">
            <h2>Welcome To Pebona Store!</h2>
          </div>
          <p class="lead">
            Pebona Shop is a premium HTML template designed and developed from
            the ground up with the sole purpose of helping you create an
            astonishing, the beautiful and user-friendly website that will boost
            your product’s sales.
          </p>
          <p class="text-base leading-relaxed">
            The theme design package provides a complete Magento theme set for
            your online store according to your desired theme. This includes all
            Magento themes that are required for your online store's successful
            implementation.
          </p>
          <a
            href="/home"
            mat-raised-button
            color="primary"
            class="mt-4 inline-block bg-gray-800 text-white py-2 px-5 rounded hover:bg-red-400 transition duration-150"
            >Shop Now!</a
          >
        </div>
      </div>
      <div class="w-full md:w-6/12 md:ps-4 flex items-center">
        <div class="relative h-60 sm:h-96 w-full">
          <img
            class="object-cover h-full w-full rounded-md"
            [src]="'../../../assets/image/' + log"
            alt="About Us"
          />
        </div>
      </div>
    </div>
  </div>
</section>
